/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Dec, 2014, 8:33:49 PM
    Author     : karan
*/

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat li.call .chat-body
{
    
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

#chat_box .panel-body
{
    overflow-y: scroll;
    height: 100%;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*.online_users { height: 100%; background: url(http://s21.postimg.org/kexv3aupf/bg_sidebar.png) repeat-y left top; }
.online_users ul {}
.online_users ul a {width: 100%; display: block;}
.online_users ul a, .online_users ul a:hover {text-decoration: none;}*/
.online_users i.fa-circle {color: green;}

.action_bar {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    width: 100%;
}

.pulse1 {
    -webkit-animation: pulse1 1s linear infinite;
    -moz-animation: pulse1 1s linear infinite;
    -ms-animation: pulse1 1s linear infinite;
    animation: pulse1 1s linear infinite;
}

@keyframes "pulse1" {
 0% {
    color: rgba(255,255,255,1.0);
 }
 50% {
    color: rgba(255,0,0,0.0);
 }
 100% {
    color: rgba(255,0,0,1.0);
 }

}

@-moz-keyframes pulse1 {
 0% {
    color: rgba(255,255,255,1.0);
 }
 50% {
    color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-webkit-keyframes "pulse1" {
 0% {
    color: rgba(255,255,255,1.0);
 }
 50% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-ms-keyframes "pulse1" {
 0% {
    color: rgba(255,255,255,1.0);
 }
 50% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

.margin_top {margin-top: 50px;}